// Mixins in here
.button-green-style() {
    width: 200px;
    background-color: @eastern-blue;
    padding: 14px 0px;
    text-align: center;
    color: white;
    font-size: 2rem;
    font-family: 'Roboto', cursive;
    border-radius: 16px;
    @media @mobile {
        padding: 3% 5%;
        justify-content: center;
    }
};